<div id="wrapper">
  <% if (actions.length === 0){ %>
    <div id="actions_welcome">
      <center>
        <h1>Bienvenido a Datea!</h1>
      </center>
    </div>
  <% } %>

  <div id="wrapper">
    <div id="actions_container">
      <% if (actions.length === 0 ){ %>
        <div id="actions_msg">
          <span>Aun no te has unido a una acci&oacute;n</span>
          <div id="actions_msg_btns">
            <div id="actions_search">
              <a href="#" class="btn datea_btn_yllw">
                Encu&eacute;ntralas en la b&uacute;squeda y listados
              </a>
            </div>
            <div id="actions_follow">
              <a href="#" class="btn datea_btn_gry"> 
                &Uacute;nete a ellas, agreg&aacute;ndolas a tus acciones
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <div id="action_list">
        <% _.each(actions, function(action, index) { %>
          <div class="actions_action">
            <% if (!action.is_active) { %>
            <div class="expired">finalizada</div>
          <% } %>
            <a href="#action/<%= action.id %>" class="action_detail clearfix">
              <div class="action_img">
                <img src="<%= api_url %><%= action.image %>"/>    
              </div>
              <div class="action_info">
                <div class="action_name"><%= action.name %></div>
                <div class="action_stats clearfix">
                  <% if (action.item_count > 0) { %>
                    <%= action.item_count %> dateos <span class="sep">|</span>
                  <% } if (action.user_count) { %>
                    <%= action.user_count %> usuarios<span class="sep">|</span>
                  <% } %>
                </div>
              </div>
            </a>
          </div>
          <% if (index < actions.length -1) {%>
            <hr class="action_separator">
            <% } %>
              <div class="item-pager hide">
                <button type="button" class="btn btn-large load-more-results datea_btn">Ver más resultados</button>
            </div>  

        <% }) %>
    </div>
    </div>
  </div>  
</div>
