<div class="step_title">
  <strong>Paso 1: </strong> 
  <% if (has_categories) { %><span>Elige la categor&iacute;a apropiada:</span>
  <% } else { %><span>Agrega una descripci&oacute;n e imagen (opcional): </span> <% } %>
</div>

<form class="form">
    <% if(has_categories){ 
    _.each(categories, function(cat){ %>
      <div class="step1_category control-group">
        <label class="radio <% if (typeof(category_id) != 'undefined' && category_id == cat.id) { %>active<% } %>">
          <input class="radio-category" type="radio" name="category" value="<%= cat.id %>" class="step1_radio" <% if (typeof(category_id) != 'undefined' && category_id == cat.id) { %>checked="checked"<% } %> /> 
          <div class="step1_cat_color" style="background-color: <%= cat.color%>;">&nbsp;</div>
          <div class="step1_cat_name"><%= cat.name %></div>  
        </label>
      </div>


<!--       <div class="step1_category">
        <input type="radio" name="category" value="<%= cat.id %>" class="step1_radio">
          <div class="step1_cat_info">
            <div class="step1_cat_color" style="background-color: <%= cat.color%>;"></div>
            <div class="step1_cat_name"><%= cat.name %></div>  
          </div>
      </div> -->
    <%  }) %>
    <% } %>
    
   <% if (has_categories) { %>
	   <div class="step_title">
	       <span>Agrega una descripci&oacute;n: e una imagen (opcional):</span>  
	   </div>
   <% } %>
   
    <textarea name='desc' id='description' placeholder="aqui la descripción"><% if (description) { %><%= description %><% } %></textarea>
    
    <div id="image_input" class="img-input-container">
    	<div class="img-preview"><img id="dateo-img-preview" src="<% if (typeof(imageURI) != 'undefined') { %><%= imageURI %><% } %>" alt="" /></div>
    	<div class="help-text">agrega una imágen (opcional)</div>
	</div>
</form>

