<div id="step_title">
  <strong>Paso 1: </strong> <span>Elige la categor&iacute;a apropiada:</span>  
</div>

<form>
    <% if(has_categories){ 
    _.each(categories, function(cat){ %>
      <div class="step1_category">
        <label class="radio">
          <input type="radio" name="category" value="<%= cat.id %>" class="step1_radio">
          <div class="step1_cat_color" style="background-color: <%= cat.color%>;"></div>
          <div class="step1_cat_name"><%= cat.name %></div>  
        </label>
      </div>

<!--       <div class="step1_category">
        <input type="radio" name="category" value="<%= cat.id %>" class="step1_radio">
          <div class="step1_cat_info">
            <div class="step1_cat_color" style="background-color: <%= cat.color%>;"></div>
            <div class="step1_cat_name"><%= cat.name %></div>  
          </div>
      </div> -->
    <%  }) %>
    <% }else{ %>
      
      <%}%>
    <div id="step_title">
      <span>Agrega im&aacute;genes (opcional) y agrega una descripcion: </span>  
    </div>

    <label for="desc">Descripci&oacute;n </label>
    <textarea name='desc' id='description' />
    <a name="file" id="image_input" class="btn datea_btn_yllw" >imagen</a>

</form>

