<div id="wrapper">
  <div id="createReport_container">
    <% if (step === 2){ %>
        <div id="create_mapitem_header_2">
          <div id="create_container">
            <div id="bck_btn_2">
              <a  id="back_button">regresar</a>
            </div>  
          
            <div id="create_title">
                <span>Crear Reporte </span>
            </div>

            <div id="nxt_btn_2">
              <a id="next_button">siguiente</a>
            </div>   
          </div>
        </div>    
    <% } else { %>
        <div id="create_mapitem_header">
          <div id="create_container">
            <div id="bck_btn">
              <a  id="back_button">regresar</a>
            </div>  
          
            <div id="create_title">
                <span>Crear Reporte </span>
            </div>

            <div id="nxt_btn">
              <a id="next_button">siguiente</a>
            </div>   
          </div>
        </div>
    <% }%>
    

    <div id="create_mapitem_content">
        
    </div>
  </div>
</div>
