<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Datea</a>
            <ul class="nav">
                <% if (userid) { %>
                  <li class="active"><a href="#user/<%= userid %>"><i class="icon-user icon-white"></i> Mi perfil</a></li>
                  <li><a href="#dateo/add"><i class="icon-edit icon-white"></i> Crear dateo</a></li>
                  <li><a href="#actions"><i class="icon-star icon-white"></i> Actividades</a></li>
                <% } else { %>
                  <li class="active"><a href="#login"><i class="icon-user icon-white"></i> Ingresa</a></li>
                  <li class="active"><a href="#register"><i class="icon-user icon-white"></i> Registrate</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
