<div id="wrapper">
	<div class="map-item-cluster">
		<div class="item-pager">
			<div class="prev">
				<% if (page <= 0) { %>
					<button class="btn back-to-map datea_btn_gry">mapa</button>
				<% } else { %>
					<button class="btn prev-item datea_btn_gry"> < </button>
				<% } %>
			</div>
			<% if (total_items > 1) { %>
				
				<div class="next">
					<% if (page < total_items-1) { %>
						<button class="btn next-item datea_btn_gry"> > </button>
					<% }else{ %>
						<button class="btn back-to-map datea_btn_gry">mapa</button>
					<% } %>
				</div>
				
				<div class="counter"><%= page+1 %> de <%= total_items %></div>
				
			<% } %>
		</div>
		<div class="current-item-content"></div>
	</div>
</div>