<div id="map-item-<%= id %>" class="map-item-detail">

	<div class="status status-<%= status %>" title="status: <%= status %>"></div>
	
	<div class="head post-user-data">
		<div class="user-picture">
			<img src="<%= api_url+user.profile.image_small %>" alt="<%= user.username %>" />
		</div>
		<div class="data">
			<div class="username">por <b><%= user.username %></b></div>
			<div class="date"><%= created %></div>
		</div>
	</div>
	
	<div class="content">
		
		<div class="category">
			<% if (category){ %> <span class="badge" style="background-color: <%= color %>"><%= category_name %></span>&nbsp;<% } %>
			<a class="zoom-to-item" href="#" data-id="<%= id %>" title="open in map">
				<i data-id="<%= id %>" class="crosshair"></i>
			</a>
		</div>
		<div class="field"><%= content %></div>
	</div>
	
	<% if (images){ %>
		<div class="images">
			<% _.each(images, function(image){ %>
				<div class="image">
					<img src="<%= api_url+image %>" alt="" />
				</div>
			<% }); %>
		</div>
	<% } %>
	
	<div class="widgets"></div>
	
	<div class="replies" style="display:none"></div>
	
	<div class="comments"></div>
</div>