<div id="map-item-<%= id %>" class="map-item-detail">

	<div class="status status-<%= status %>" title="status: <%= status %>"></div>
	
	<div class="head post-user-data">
		<div class="user-picture">
			<img src="<%= api_url+user.image_small %>" alt="" />
		</div>
		<div class="data">
			<div class="username">por <b><%= user.username %></b></div>
			<div class="date"><%= created %></div>
		</div>
		<div class="zoom-to-item" href="#" data-id="<%= id %>">
			<i data-id="<%= id %>" class="crosshair"></i>
		</div>
	</div>
	
	<div class="content">
		<% if (category){ %> 
			<div class="category">
				<span class="badge" style="background-color: <%= color %>"><%= category_name %></span>
			</div>
		<% } %>
		<div class="field"><%= content %></div>
	</div>
	
	<% if (images){ %>
		<div class="images">
			<% _.each(images, function(image){ %>
				<div class="image">
					<img src="<%= api_url+image.image %>" alt="" />
				</div>
			<% }); %>
		</div>
	<% } %>
	
	<div class="widgets"></div>
	
	<% if (replies && replies.length > 0) { %>
		<div class="item-replies-wrap">
			<h4 class="replies-title">Respuestas</h4>
			<div class="item-replies"></div>
		</div>
	<% } %>
	
	<div class="item-comments"></div>
	
</div>