 <div id="ftr_back" class="ftr-dateo-btn">
    <a class="back-link" href="javascript:onBackKeyPress();">
    <div>
      <img src="img/icono_regresar.png" alt="actions">  
    </div>
    <div>
      regresar
    </div>
  </a>
</div>
 <div id="ftr_home" class="ftr-dateo-btn">
     <a href="#actions" id="">
    <div>
      <img src="img/icono_inicio.png" alt="actions">  
    </div>
    <div>
      inicio
    </div>
  </a>
</div>
<div id="ftr_dateo" class="ftr-dateo-btn">
    <a href="#mapping/<%= id %>/reports/map">
    <div>
      <img src="img/icono_dateos.png" alt="actions">  
    </div>
    <div>
      navegar
    </div>
  </a>
</div>
<div id="ftr_new-dateo" class="ftr-dateo-btn">
	<% if (is_active) { %>
	    <a href="#mapping/<%= id %>/report/create">
	    <div>
	      <img src="img/icono_creardateo.png" alt="actions">  
	    </div>
	    <div>
	      crear dateo
	    </div>
	  </a>
  <% } %>
</div>
