 <div id="ftr_back">
     <a href="#action/<%= mapid %>" id="">
    <div>
      <img src="img/icono_regresar.png" alt="actions">  
    </div>
    <div>
      regresar
    </div>
  </a>
</div>
 <div id="ftr_home">
     <a href="#actions" id="">
    <div>
      <img src="img/icono_inicio.png" alt="actions">  
    </div>
    <div>
      inicio
    </div>
  </a>
</div>
<div id="ftr_dateo">
    <a href="#mapping/<%= mapid %>/reports/map" id="">
    <div>
      <img src="img/icono_dateos.png" alt="actions">  
    </div>
    <div>
      navegar
    </div>
  </a>
</div>
<div id="ftr_new-dateo">
    <a href="#mapping/<%= mapid %>/report/create" id="">
    <div>
      <img src="img/icono_creardateo.png" alt="actions">  
    </div>
    <div>
      crear dateo
    </div>
  </a>
</div>
