<div id="profile-edit_container">
  <form id="user_edit_form">
    <h1>Editar perfil</h1>
    <input type="text" name="full_name" id="fullname_in" placeholder="Nombre completo" value="<%= full_name %>"/>
    
    <input type="email" name="email" value="" id="email_in" placeholder="Email">
    
    <input type="text" name="message" value="" id="message_in" placeholder="Mensaje personal" value="<%= message %>"/>
    
    <label for="image_input">Imágen de Perfil</label>

    <textarea name="file" id="image_data" />
    <button type="file" name="image" id="image_input" class="btn datea_btn_gry">Imagen</button>
    <button type="submit" class="btn btn-primary datea_btn_yllw">Guardar</button>
  </form>
</div>