<div id="wrapper">
    <div id="search_form">
        <h1>Buscar acciones</h1> 
        <form>
            <input type="text" id="search_term" placeholder="buscar frase"></input>
            <h4>
                Filtrar por Categor&iacute;a:
            </h4>

            <select id="category_filter" >
                    <option value="all" name="all">todas</option>
                <% _.each(cat_list, function(cat){ %>
                    <option value="<%= cat.id %>" name="<%= cat.name%>"><%= cat.name %></option>
                <% })%>
            </select>
            
            <h4>
                Ordenar por:
            </h4>

            <select id="order_by"> 
                <option value="featured" name="destacadas" selected="selected">Destacadas</option>
                <option value="-" name="recientes">Recientes</option>
                <option value="distance" name="cercanas">Cercanas</option>
            </select>

            <a href="#" id="submit_search" class="btn datea_btn_yllw">Mostrar Resultados</a>
        </form>
    </div>
</div>
