#actions_container{
  .datea_container;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 17px;
  width: 282px;
  //padding-bottom: 17px;
}

#actions_welcome{
  margin-top: -10px;
  margin-left: -20px;
  padding-left: 25px;
  padding-right: 25px;
  .gradient_gray;
  h1{
    color: @w;
  }
}

#actions_msg{
  background: #ffffff; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(16%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 16%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
  width: 247px;
  height: 105px;
  padding-left: 20px;
  padding-right: 25px;
  border-radius: 0px 0px 10px 10px;
  span{
    .regular;
    .bold;
  }
} 

#actions_msg_btns{
  margin-top: 10px;

  .actions_btns_common{
    background-repeat: no-repeat;
    text-align: left;
    font-size: 12px;
    line-height: 13px;
    padding-left: 25px;
  }

  #actions_search{
    .left;
    width: 125px;
    a{
      .actions_btns_common;
      background-image: url('../img/icono_busqueda.png');
      background-position: 5px 42px;
    }
    .datea_btn_gry{
      background-color: @w;
      font-weight: normal;
      height: 55px;
    }
  }
  #actions_follow{
    .rght;
    width: 100px;
    margin-right: 10px;
    a{
      .actions_btns_common;
      background-image: url('../img/icono_seguir.png');
      background-position: 5px 41px;
    }
    .datea_btn_gry{
      font-weight: normal;
      background-color: @w;
      height: 55px;
      cursor: default;
      -webkit-box-shadow: none;
    }
  }
}

#action_list{
  height: 100%;
}

.actions_action{
  height: 71px;
  margin-bottom: 18px;
  padding-left: 10px;
  position: relative;

  a{
    color: @gray;
  }

  .action_img{
    .left;
    img{
      width: 70px;
      height: 70px;
    }
  }

  .action_info{
    .left;
    width: 62%;
    min-height: 70px;
    margin-left: 10px;
    padding-top: 6px;
    padding-right: 22px;
    background-image: url('../img/flecha1.png');
    background-repeat: no-repeat;
    background-position: 97% 21px;
    
    .action_name {
    	min-height: 45px;
    }
    .action_stats {
    	font-size: 10px;
    	color: #999;
    	.sep:last-child { display:none}
    }
  }
  .expired {
  		position: absolute;
  		bottom:-11px;
  		right:10px;
  		font-size:10px;
  		color: #e35b59;
  }
}

.action_separator{
  width: 100%;
  border-top: 1px solid @gray-bg;
}

@media (min-width: 333px) and (max-width: 767px) { 
  #actions_welcome{
    width: 464px;
  }
  #actions_msg{
    width: 391px;
  }
}