#createReport_container{
  .datea_container;
  border: 2px solid @gray-bg;
  -webkit-box-shadow: none;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 0;
}

#create_mapitem_header{
  height: 34px;
  border-bottom: 1px solid @gray-bg;
  text-align: center;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

#create_mapitem_header_2{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: @w;
  height: 53px;
  padding: 10px 10px 10px 10px;
  #title{
    margin-top: 12px;
    margin-left: 10px;
    text-align: center;
  }
}

#create_container{
  height: 18px;
  margin-left: auto;
  margin-right: auto;
}

#create_title{
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  span{
    color: @gray-dark;
    font-weight: bold;
    font-size: 14px;
  }
}
#create_title_4{
  .left;
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  span{
    color: @gray-dark;
    font-weight: bold;
    font-size: 14px;
  }
}
#bck_btn{
  width: 80px;
  .left;
  a {
    padding: 0 0 0 13px;
    display: block;
    width: 67px;
    height: 25px;
    padding-top: 3px;
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    cursor: pointer;
    &:active{
      background-image: url('../img/back_hover.png');
    }
  }
}

#nxt_btn{
  width: 80px;
  .rght;
  a {
    height: 25px;
    padding-top: 3px;
    text-align: center;
    width: 80px;
    display: block;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    cursor: pointer;
    &:active{
      background-image: url('../img/next_hover.png');
    }
  }
}

.step_title{
  margin-top: 20px;
  margin-bottom: 20px;
}

#create_mapitem_content{
  padding-left: 10px;
  padding-right: 10px;
}

// setp 1
.step1_category{
  min-height: 24px;
  margin-bottom: 10px;
  vertical-align: middle;
  label{
    .round(5px);
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    display: block;
    margin-bottom: 0px;
    &.active {
      background-color: #cecece;
    }
  }
  .radio-category {
    font-size: 40px;
    color: black;
    .left;
    display: block;
    margin-top: 12px;
    margin-left: -8px !important;
  }
  
  .step1_cat_color{
    .left;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    border: none;
    margin-left: 2px;
    .round(5px);
  }
}

.step1_cat_info{
  .left;
  //width: 87%;
  margin-left: 5px; 
}



.step1_cat_name{
  .left;
  .black;
  margin-left: 5px;
}

// step 2
#description{
  width: 94%;
}
#image_input{
  width: 92%;
  margin-top: 10px;
  padding: 8px;
  height: 23px;
}
#overlay{
  -webkit-box-shadow: 0px -6px 20px 0px #ccc;
  box-shadow: 0px -6px 20px 0px #ccc;
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #999;
  width: 100%;
  height: 170px;
  bottom: 0px;
  left: 0px;
  z-index: 200; 
  padding-top: 30px;
  a{
    width: 255px;
    height: 22px;
  }
}
.over_btn{
  text-align: center;
  width: 100%;
  margin-bottom: 18px;
  a{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#map_overlay{
  display: none;
  //position: absolute;
  z-index: 90;
  top: 50px;
  left: 0px;
  height: 90%;
}

.create-mapitem-confirm {
  .subtitle { margin-top: 15px;}
  .description {margin-top: 5px;}
  p.send-button {
    text-align: center;
    margin-top: 25px;
    button { 
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      }
  }
}

//step4
#step4-nav{
  margin-bottom: 20px;
  width: 225px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 22px;
}

#step4-back{
  width: 225px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 22px;
  margin-bottom: 20px;
}

.map-item-success-buttons, .map-tem-success-title {
  text-align: center;
}
