#createReport_container{
  .datea_container;
  border: 2px solid @gray-bg;
  -webkit-box-shadow: none;
  padding-right: 0px;
  padding-left: 0px;
}

#create_mapitem_header{
  width: 100%;
  height: 32px;
  border-bottom: 1px solid @gray-bg;
  text-align: center;
}

#create_container{
  height: 27px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

#create_title{
  .left;
  padding-left: 11px;
  padding-right: 11px;
  span{
    color: @gray-dark;
    font-size: 14px;
  }
}
#bck_btn{
  width: 83px;
  .left;
}
#nxt_btn{
  .left;
}


//arrows
.back_arrow_container{
  height: 22px;
  width: 70px;
}
.arrow_btns{
  border: none;
  color: @gray;
  font-size: 12px;
  font-weight: bold;
}

#back_arrow{
  .left;
  width: 0px;
  border-top: 12px solid @w;
  border-right: 20px solid @gray-bg;
  border-bottom: 12px solid @w;
  //.round(5px);
}
#back_arrow_body{
  .rght;
  width: 50px;
  background-color: @gray-bg;
}
#back_button{
  background-color: @gray-bg;
  .arrow_btns;
}


.next_arrow_container{
  height: 22px;
  width: 79px;
}
#next_arrow{
  .rght;
  width: 0px;
  border-top: 12px solid @w;
  border-left: 20px solid @datea;
  border-bottom: 12px solid @w;
  //.round(5px);
}
#next_arrow_body{
  .left;
  width: 52px;
  background-color: @datea;
}
#next_button{
  background-color: @datea;
  .arrow_btns;
}

#step_title{
  margin-top: 10px;
  margin-bottom: 10px;
}

#create_mapitem_content{
  padding-left: 10px;
  padding-right: 10px;
}

// setp 1
.step1_category{
  min-height: 20px;
  margin-bottom: 7px;
  label{
    font-size: 14px;
  }
}

.step1_radio{
  .left;
}
.step1_cat_info{
  .left;
  width: 87%;
  margin-left: 5px; 
}

.step1_cat_color{
  .left;
  width: 20px;
  height: 20px;
  border: none;
  .round(5px);
}

.step1_cat_name{
  .left;
  .black;
  width: 89%;
  margin-left: 5px;
}

// step 2
#description{
  width: 94%;
}
#image_input{
  width: 90%;
  margin-top: 10px;
}
#overlay{
  display: none;
  position: absolute;
  background-color: @gray-bg;
  width: 100%;
  height: 170px;
  bottom: 0px;
  left: 0px;
  z-index: 200; 
  padding-top: 30px;
  a{
    width: 255px;
  }
}
.over_btn{
  text-align: center;
  width: 100%;
  margin-bottom: 18px;
  a{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#map_overlay{
  display: none;
  //position: absolute;
  z-index: 90;
  top: 50px;
  left: 0px;
  height: 90%
}