.item-list{
	.datea_container;
	padding-left: 0px;
	padding-right: 0px;
}

.history-list-view {
	margin-bottom: 80px;
	padding: 15px;
	
	.item-pager {
		margin-top:15px;
		text-align: center;
	}
}

.history-item {
	padding: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.item-row{
	.item-image{
		width: 42px;
		.left;
	}
	.item-content{
		padding-left: 50px;
		font-size: 12px;
		line-height: 12px;
		.item-title{
			span{
				color: @green;
			}
			a{
				color: @green;
			}
		}
		.item-date{
			color: @gray;
			font-size: 10px;
			margin-bottom: 5px;
		}
		.category{
			margin-top: 9px;
			margin-bottom: 5px;
		}
		.more-link{
			color: @green;
			margin-top: 5px;
		}
	}	
}

