#header{
    background-image: url('../img/home/header_bg.png');
    background-repeat: repeat-x;
    //.wh(100%,95px);
    margin-bottom: 0px;
}
#home_header{
    .center;
    .wh(300px,95px);
}
#home_msg{
    background-image: url('../img/home/message_bg.png');
    .wh(100%,73px);
    color:@w;
}

#h_title{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    text-align: center;
}

#h_sub{
    margin-right: 20px;
    margin-left: 27px;
    margin-top: 11px;
    line-height: 12px;
}

.home_bubble{
    background-color: @w;
    .round(15px);
    margin-top: 11px;
    height: 50px;
}

.icon{
    .wh(39px,42px);
    margin-top: 5px;
    margin-left: 15px;
}
.icon_txt{
    width: 192px;
    padding-top: 5px;
    padding-right: 20px;
}

#footer{
    background-color: @w;
    -webkit-box-shadow: 0px -6px 20px 0px #ccc;
    //display: none;
}
.log{
    margin-top: 20px;
    margin-left: 20px;
}
#login{
    width: 112px
}

#register{
    width: 130px;
}