#header{
    background-image: url('../img/home/header_bg.png');
    background-repeat: repeat-x;
    .wh(100%,95px);
}
#home_header{
    .center;
    .wh(300px,95px);
}
#home_msg{
    background-image: url('../img/home/message_bg.png');
    .wh(100%,73px);
    color:@w;
}