#header{
    background-image: url('../img/home/header_bg.png');
    background-repeat: repeat-x;
    //.wh(100%,95px);
    margin-bottom: 0px;
}
#home_header{
    .center;
    .wh(300px,95px);
}

#h_title{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    text-align: center;
}

#h_sub{
  margin-right: 20px;
  margin-left: -18px;
  margin-top: 11px;
  line-height: 12px;
  text-align: left;
  width: 208px;
}

.home_bubble{
    background-color: @w;
    .round(15px);
    margin-top: 11px;
    height: 50px;
}

.icon{
    .wh(39px,42px);
    margin-top: 5px;
    margin-left: 15px;
}
.icon_txt{
    width: 192px;
    padding-top: 5px;
    padding-right: 20px;
}

.log{
    margin-top: 20px;
    margin-left: 20px;
}


#register{
    width: 130px;
}

///content btns
.home_i{
  display: inline-block;
  width: 40px;
  height: 43px;
  margin-top: 8px;
  margin-right: 13px;
  margin-left: 3px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.home_btn{
  padding: 8px;
  margin: 10px 20px 0px;
  background-image: none;
  background-color: @w;
  border: 0px solid #BBB;

  background-repeat: no-repeat;
  background-position: 14px 7px;
  white-space: normal;
  padding-left: 63px;
  text-align: left;
}

#login_btn{
  .home_btn;
  //.home_btn:hover;    
    background-image: url('../img/icono_registro_off.png');
  &:hover{
    background-image: url('../img/icono_registro_on.png');
  }
}

#explore_btn{
  .home_btn;
  background-image: url('../img/icono_apoya_off.png');
  &:hover{
    background-image: url('../img/icono_apoya_on.png');
  }
}

#participate_btn{
  .home_btn;
  background-image: url('../img/icono_participa_off.png');
  &:hover{
    background-image: url('../img/icono_participa_on.png');
  }
}


///responsive stuff

.fillWidth{
 // margin-left: -20px;
  right: 0px;
  left: 0px;
  display: block; 
}

#home_msg{
  margin-top: 41px;
  background-image: url('../img/home/message_bg.png');
  height: 73px;
  color: @w;
  position: static;
  .fillWidth;   
}


@media (min-width: 1200px) { 
  #home_msg{
    margin-top: 95px;
    color: pink;
  }
}

@media (min-width: 980px) and (max-width: 1199px){
  #home_msg{
    margin-top: 95px;
    color: red;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #home_msg{
    color: blue;
  }
}

@media (min-width: 333px) and (max-width: 767px) { 
  #home_msg{
    margin-right: -20px;
    margin-left: -20px;
    right: 0px;
    left: 0px;
    position: static;
  }
}

@media (max-width: 332px) { 
  #home_msg{
    margin-right: -22px;
    margin-left: -22px;
    //margin-top: -20px;
  }
}