@import "variables.less";
@import "home.less";
@import "header.less";
@import "footer.less";

body{
  //font-family: "Helvetica Neue,​Helvetica,​Arial,​sans-serif";
  background-image: url('../img/bg.png');
}

#content{
    //width: 100%;
   // margin:0px;
   // padding: 20px;
    
}

.title{
    .big;
    .bold;
}

.small{
    .regular;
}

#main_container{
  margin: 0 auto;
  float:none;
  //background-color: blue;
}
