@import "variables.less";
@import "home.less";
@import "header.less";
@import "footer.less";
@import "login.less";
@import "profile.less";
@import "profileEdit.less";
@import "actions.less";

body{
  //font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
  background-image: url('../img/bg.png');
  color: @gray;
}

h1{
  color: #666666;
  font-size: 30px;
  margin-bottom: 0px;
}

h2{
  color: #666666;
  font-size: 25px;
}

h3{
  color: #666666;
  font-size: 20px;
}


.title{
    .big;
    .bold;
}

.small{
    .regular;
}

#main_container{
  margin: 0 auto;
  float:none;
  //background-color: blue;
}
