#profile_container{
  .datea_container;
}

#profile_name{
  margin-bottom: 18px;
}

#profile_info{
  height: 100px;
  margin-bottom: 10px;
}

#profile_picture{
  width: 100px;

  img{
    width: 100px;
    height: 100px;
  }
}

#profile_stats{
  font-size: 10px;
  width: 113px;
  height: 100px; 
  color: @green;
}

#profile_separator{
  margin-left: -21px;
  width: 268px;
  border-top: 1px solid @gray-bg;
  -webkit-box-shadow: 2px 3px 2px -1px #CCC;
}

.profile_btns{
  padding-top: 9px;
  width: 197px;
  height: 30px;
  margin-bottom: 15px;
  background-image: url('../img/flecha1.png');
  background-repeat: no-repeat;
  background-position: 204px 11px;
}

#profile_edit{
  .profile_btns;
}

#profile_logout{
  .profile_btns;
}