#profile-edit_container{
  .datea_container;
}

#user_edit_form{
  p{
    margin-bottom: 10px;
    .regular;
    color: @gray-dark;
  }
  input{
    .round(10px);
    width: 232px;
  }
  #image_input{
    margin-right: 76px;
  }
}
