//colors
@w: #FFFFFF;
@datea: #ECFF00;
@datea-dark: #D2E303;

////dimension
.wh(@w, @h){
    width: @w;
    height: @h;
}


.center{
    margin-left: auto;
    margin-right: auto;
}
.rght{
    float: right;
}
.left{
    float: left;
}
.container300{
    width:300px;
    .center;
}

///// fonts
.big{
    font-size: 26px;
}

.medium{
    font-size: 18px;
}

.regular{
    font-size: 12px;
}

.bold{
    font-weight: bold;
}

///misc
.round(@p){
    border-radius: @p;
}